<!DOCTYPE html>
<html lang="en">
    <head>
        {% comment %}TODO: Use min version for production {% endcomment %}
        <link href="{{ STATIC_URL }}/css/bootstrap.css" rel="stylesheet">
        <style type="text/css">
            body {
                padding: 40px; <!-- For fixed bootstrap navbar -->
            }
        </style>
        {% block css %}{% endblock css %}
        <title>Spilltavla.no {% block title %}{% endblock title %}</title>

    </head>
    <body>
    <header class="navbar">
        <div class="navbar-inner navbar-fixed-top">
            <a class="brand" href="/">Spilltavla.no</a>
            <ul class="nav">
                <li ><a href="/game">Spill</a></li> {% comment %}TODO: Add support for active menu entry {% endcomment %}
                <li><a href="/gameSession">Spillsesjoner</a></li>
            </ul>
            <ul class="nav pull-right">
                {% comment %}TODO: Could be a dropdown with more options {% endcomment %}
                {% if user.is_authenticated %}
                    <li ><a href="/user/show/{{ user.username }}">{{ user.first_name }} {{ user.last_name }}</a></li>
                {% else %}
                    <li ><a href="/login">Logg inn</a></li>
                {% endif %}
            </ul>
            <form class="navbar-search pull-right">
                <input type="text" class="search-query" placeholder="Søk er ikke implementert">
            </form>
        </div>

    </header>
    <div class="container">
        <h1>{% block headline %}Velkommen til <small>spilltavla.no</small>{% endblock headline %}</h1>
        {% block content %}Her kommer det innhold{% endblock content %}
    </div>

    <footer class="navbar">
        <div class="navbar navbar-fixed-bottom">
            <ul class="nav">
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/terms">Personvern</a></li>
            </ul>
            <ul class="nav pull-right">
                <li><a href="/about">Om spilltavla</a></li>
            </ul>
        </div>
    </footer>
    {% comment %}TODO: Use min version for production {% endcomment %}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{ STATIC_URL }}/js/bootstrap.min.js"></script>
    {% block javascript %}{% endblock javascript %}
    </body>
</html>